@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "EB Garamond SC";
    font-variant: small-caps;
    src: url(EBGaramond12-SC.otf)
    }
@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    src: url(EBGaramond12-Regular.otf)
    }
@font-face {
    font-family: "EB Garamond Italic";
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
    src: url(EBGaramond12-Italic.otf)
    }
@font-face {
    font-family: "EB Garamond Bold";
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    src: url(EBGaramond12-Bold.otf)
    }
@font-face {
    font-family: "Ornaments";
    src: url(HoodHeavenOrnamentsOneSSi.ttf)
    }
